<h1>フォロー</h1>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= gravatar_for(user, size:50) %>
        <div class="caption">
          <p>
            <%= link_to "#{user.name}",  user_path(id: user.id) %>  
          </p>
          <br>
          <p>
            <div id="follow_form">
              <% @user = user %>

              <!-- user 相手 / current_user 自分 -->
              <!-- 自分が相手をフォローしているか？ -->
              <% if current_user.following?(user) %>
                <%= render 'unfollow' %>
              <% else %>
                <%= render 'follow' %>
              <% end %>
            </div> <!-- follow_form -->
          </p>
        </div> <!-- caption -->
      </div> <!-- thumbnail -->
    </div>
  <% end %>
</div>

